version: '3.8'

services:
  database:
    image: postgres
    hostname: database
    container_name: ackerman-database
    ports:
      - '${DATABASE_PORT}:5432'
    networks:
      - application-network
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}

  ollama:
    image: ollama/ollama
    container_name: ackerman-ollama
    networks:
      - application-network
    ports:
      - '${OLLAMA_PORT}:11434'
    volumes:
      - .volumes/ollama:/root/.ollama

  cache:
    image: redis:7-alpine
    container_name: ackerman-cache
    command: redis-server --requirepass ${CACHE_SERVICE_PASSWORD}
    networks:
      - application-network
    ports:
      - '${CACHE_SERVICE_PORT}:6379'

networks:
  application-network:
    driver: bridge
